{% extends 'base.html' %}

{% block content %}
  <div class="col-md-6 col-md-offset-3">
    <form action="{{ request.path }}" method="post">
      {% csrf_token %}
      
      {% if ch_pass_form %}{% include 'form.html' with form=ch_pass_form %}{% endif %}
      
      {% include 'form.html' %}
        
        <div class="form-group">
          <input type="submit" value="{{ submit_text }}" class="btn btn-info form-control">
        </div>
    </form>
  </div>
{% endblock content %}
