body{
  font-family: 'Open Sans';
}
.header{
  margin-bottom: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.top-bar{
  background: #222;
  padding: 5px 15px;
  text-align: right;
}
.top-bar a{
  color: #fff;
  margin-right: 25px;
}
.top-bar span{
  margin-right: 5px;
}
.form-search{
  width: 350px;
  margin: 30px auto 5px auto;
}
#exampleInputAmount{
  border-color: #222;
}
.input-group-addon{
  background: #222;
  border: none;
}
.input-group-addon>span{
  color: #fff;
}
.navbar-nav>li>a{
  color: #000;
  font-size: 16px;
}

.logo{
  padding: 15px 15px 10px 15px;
}
.logo a:hover{
  text-decoration: none;
}
.logo img{
  display: inline-block;
}
.menu{
  margin:  0px 20px
}
.navbar{
  margin-bottom: 0;
}
main{
  margin-top: 25px;
  padding: 25px;
}
.nav {
  padding-left: 0;
}
.nav li {
  display: inline;
  list-style-type: none;
}
.container {
  width: 940px;
  margin: 0 auto
}
.header.container{
  margin-bottom: 15px;
}
.sidebar {
  float: left;
  width: 20%;
}
.left-menu{
  padding: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.left-menu .nav>li>a{
  color: #000;
  font-size: 16px;
}
.left-menu .open>.dropdown-menu{
  position: relative;
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin: 0 0 10px 0;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #eee;
}
.left-menu .dropdown-menu>li>a{
  padding: 5px 20px;
}  
main{
  padding: 0px 0 0 15px !important;
  margin: 0;
}
main>div{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background: #ccc;
  color: #000;
}
.footer{
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  padding: 10px;
}
.company-info{
  padding: 15px;
}
.btn-info{
  border-color: #222;
  background: #222;
  color: #fff;
}
.btn-info:hover, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
  border-color: #222;
  background: #222;
  color: #fff;
}
.mb15{
  margin-bottom: 15px;
}
.footer>p{
  margin: 0;
}
.category{
  padding: 0;
  list-style: none;
  width: 100%;
}
.category>li>a{
  display: block;
  color: #000;
  padding: 5px 20px;
  width: 100%;
}
main>.col-md-12{
  margin-bottom: 30px;
}
.img-wrapper{
  border: 2px solid black;
  border-radius: 15%;
}
.box{
  position: relative;
  width: 100%;
  border: 3px solid #222;
}
.content{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  overflow: hidden;
}
.content>img{
  margin: 0 auto;
  width: 100%;
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.company>a{
  color: #222;
  font-size: 20px;
}
.company .description{
  word-wrap: break-word;
  color: #888;
  font-size: 12px;
}
ul{
  list-style: none;
}
.crud-company{
  position: absolute;
  top: 15px;
  right: 17px;
  background: #eee;
  padding: 5px;
}
.crud-company>a{
  font-size: 20px;
  color: #000;
  margin: 2px;
}
.dropdown-menu:hover,
.dropdown-toggle:hover+ul{
  display: block;
}
.left-menu .dropdown-menu{
  margin-top: 0;
}
.category>li>a.active{
	background: #ccc;
}