{% extends 'base.html' %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
  <div class="company-info">
    <div class="row">
      <div class="logo col-md-6">
        <img src="{% thumbnail company.logo 75x75 crop %}" alt="logo">
      </div>
      <div class="year col-md-6 text-right">
        {{ company.foundation_year }} p.
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <b>{{ name }}:</b>
      </div>
      <div class="col-md-9">{{ company.name }}</div>
    </div>
    
    <div class="row">
      <div class="col-md-3"><b>{{ USREOU }}:</b></div>
      <div class="col-md-9">{{ company.USREOU }}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><b>{{ address }}:</b></div>
      <div class="col-md-9">{{ company.address }}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><b>Телефони:</b></div>
      <div class="col-md-9">
        {% for phone in company.phone_set.all %}
          <div>{{ phone }}</div>
        {% endfor %}
      </div>
    </div>
    {% if company.fax %}
      <div class="row">
        <div class="col-md-3"><b>{{ fax }}:</b></div>
        <div class="col-md-9">{{ company.fax }}</div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-md-3"><b>Emails:</b></div>
      <div class="col-md-9">
        {% for email in company.email_set.all %}
          <div>{{ email }}</div>
        {% endfor %}
      </div>
    </div>
    {% if company.web_site %}
      <div class="row">
        <div class="col-md-3"><b>{{ web_site }}:</b></div>
        <div class="col-md-9">{{ company.web_site }}</div>
      </div>
    {% endif %}    
    <div class="row">
      <div class="col-md-3">
        <b>{{ overview }}:</b>
      </div>
      <div class="col-md-9">{{ company.overview }}</div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <b>{% trans 'Scope of activity:' %}</b>
      </div>
      <div class="col-md-9">
        {% for category in company.category.all %}
          <a href="{% url 'companies:category' category=category.slug %}" class="btn btn-default">
            {{ category }}
          </a>
        {% endfor %}  
      </div>
    </div>
    {% if company.additionalInfo.all %}
      <div class="row">
        <div class="col-md-3"><b>{% trans 'Additional information about the company:' %}</b></div>
        <div class="col-md-9">
          {% for additional_info in company.additionalInfo.all %}
            <div>{{ additional_info }}</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

    {% if company.photo_set.all %}
        {% include 'company/gallery.html' with gallery=company.photo_set.all %}
    {% endif %}

{% endblock content %}
