{% extends 'base.html' %}

{% block content %}
  <div class="col-md-offset-3 col-md-6">
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'form.html' %}
        <div class="form-group">
            <input type="submit" class="btn btn-info form-control" value="{{ submit_text }}">
        </div>
    </form>
    </div>
{% endblock content %}
