{% extends 'base.html' %}
{% load thumbnail i18n %}

{% block content %}
  <div class="row">
    {% for chunk in categories %}
      <div class="col-md-4">
        <ul class="category">
          {% for category in chunk %}
            <li>
              <a href="{% url 'companies:category' category.slug %}"
                 class="{% if category.slug == active_category %}active{% endif %}">
                {{ category }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
    <div class="col-md-12">
      <a href="{% url 'companies:register' %}" class="pull-right btn btn-info mb15">
        {% trans 'Register new company' %}
      </a>
    </div>
  {% endif %}

  <div class="companies">
    {% for company in companies_list %}
      {% cycle '<div class="clearfix">' '' '' %}
        <div class="company col-md-4 text-center">
          <div class="img-wrapper box">
            <div class="content">
              <img src="{% thumbnail company.logo 160x160 crop %}"
                   alt="{{company.name}}"
                   class="img-responsive">
              {% if created_by_user %}
                <div class="crud-company">
                  <a href="{% url 'companies:update' pk=company.id %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a href="{% url 'companies:delete' pk=company.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
          <a href="{% url 'companies:detail' pk=company.id %}">
            {{company.name}}
          </a>
          <div class="description">{{ company.overview|truncatewords:10 }}</div>
        </div>
      {% cycle '' '' '</div>' %}
    {% empty %}
      <div class="text-center">{% trans 'No business found by search.' %}</div>
    {% endfor %}
  </div>
{% endblock content %}
