{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>{% trans 'Are you sure you want to delete' %} "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
    </form>
{% endblock content %}
