{% extends 'base.html' %}

{% block content %}
  <div class="col-md-offset-3 col-md-6">
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ phone_formset.management_form }}
        {% for form in phone_formset %}
            {% include 'form.html' %}
        {% endfor %}

        {{ email_formset.management_form }}
        {% for form in email_formset %}
            {% include 'form.html' %}
        {% endfor %}

        {{ photo_formset.management_form }}
        {% for form in photo_formset %}
            {% include 'form.html' %}
        {% endfor %}

        <div class="form-group">
            <input type="submit" class="btn btn-info form-control" value="{{ submit_text }}">
        </div>
    </form>
    </div>
{% endblock content %}
