{% load thumbnail %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in gallery %}
          <li data-target="#carousel-example-generic"
              data-slide-to="{{ forloop.counter0 }}"
              class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for photo in gallery %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <img src="{% thumbnail photo.image 700x500 crop %}" alt="{{ photo }}" width=100%>
              <div class="carousel-caption">
                <h3>{{ photo.product }}</h3>
              </div>
            </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
