<script type="text/javascript"
        src="{{ STATIC_URL }}django_ajax/js/jquery.ajax.min.js">
</script>
<script type="text/javascript">
    function sentAjax(url) {
        ajaxGet(url, function(content) {
            var gallery = document.getElementById('gallery-slider');
            gallery.innerHTML = content;
        })
        return false
    }
    sentAjax('{% url 'companies:full_gallery' %}')
</script>
<div class="row">
	{% for chunk in categories %}
		<div class="col-md-4">
			<ul class="category">
				{% for category in chunk %}
					<li>
						<a href="#" onclick="return sentAjax('{% url 'companies:gallery' category.id %}')">{{ category }}</a>
					</li>
				{% endfor %}
			</ul> 
		</div> 
	{% endfor %}
</div>
<div id="gallery-slider">
    {% include 'company/gallery.html' %}
</div>
