{% extends "base.html" %}

{% block title %}Сторінка не знайдена{% endblock %}
{% block content %}
  <h1>Сторінка не знайдена</h1>
  <p>Вибачте, запрошена Вами сторінка не знайдена.</p>
{% endblock %}
