{% load cms_tags menu_tags sekizai_tags %}
{% load i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

    <title>{% block title %}
      {% page_attribute 'page_title' %}
    {% endblock title %}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% render_block 'css' %}
  </head>
    <body>
      <div class="container-fluid">
        {% cms_toolbar %}
          <div class="row top-bar">
            {% if request.user.is_authenticated %}
              <a href="{% url 'companies:created-by-user' %}">
                <span class="glyphicon glyphicon-home"></span>
                {% trans 'My companies' %}
              </a>
              {# <a href="{% url 'accounts:user_edit' %}">{% trans 'My office' %}</a> #}
            {% endif %}
            {% if not request.user.is_authenticated %}
              <a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>{% trans 'Login' %}</a>
              <a href="{% url 'accounts:signup' %}"><span class="glyphicon glyphicon-user"></span>{% trans 'Signup' %}</a>
            {% else %}
              <a href="{% url 'accounts:logout' %}"><span class="glyphicon glyphicon-log-out"></span>{% trans 'Logout' %}</a>
            {% endif %}
          </div>
            <header class="header container">
              <div class="row">
                <div class="logo col-md-3 text-center">{% static_placeholder 'logotypes' %}
                <h5>Конкурентний Мелітополь</h5></div>
                <div class="col-md-9">
                  <div class="row">
                    <form method="get" action="{% url 'companies:list' %}" class="form-search">
                      <div class="input-group">
                        <input type="text" name="search" class="form-control" id="exampleInputAmount" placeholder="{% trans 'Search' %}">
                        <div class="input-group-addon btn" onclick="document.forms[0].submit();"><span class="glyphicon glyphicon-search"></span></div>
                      </div>
                    </form>
                  </div>
                  <div class="row">
                    <nav class="navbar">
                      <div class="navbar-header">
                        <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                      </div>
                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav menu">
                          {% show_menu 0 100 100 100 "menu/main_menu.html" %}
                        </ul>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </header>
      
          <div class="container main-wrapper">
            <div class="row">
              <aside class="col-md-3 left-menu">
                <ul class="nav nav-stacked">
                  {% show_menu 0 100 100 100 "menu/main_menu.html" %}
                </ul>
              </aside>
              <main class="col-md-9">
                <div class="clearfix">
                  {% block content %}{% endblock content %}
                </div>
              </main>
            </div>
          </div>
          <footer class="footer container text-center">{% static_placeholder 'copyright' %}</footer>
      </div>
          {% render_block 'js' %}
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC_URL }}js/jquery_v1_12_4.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>
