{% load menu_tags %}

{% for child in children %}
<li class="{% if child.selected %}active {% endif %}{% if child.children %}dropdown{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
	   {% if child.children %}
		   class="dropdown-toggle"
		   data-toggle="dropdown"
		   role="button"
		   aria-haspopup="true"
		   aria-expanded="false"
	   {% endif %}>
        {{ child.get_menu_title }}
    
	{% if child.children %}
	<span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
  {% else %}
    </a>
	{% endif %}
</li>
{% endfor %}
