{% extends 'base.html' %}
{% load i18n recaptcha2 %}

{% block content %}
    {% recaptcha_init 'uk' %}
		<div class="col-md-6 col-md-offset-3">
			<h3>Зворотній зв'язок</h3>
			<form action="{{ request.path }}" method="post">
					{% csrf_token %}
					{% include 'form.html' %}
					<div class="form-group">
							<input type="submit" class="btn btn-info form-control" value="{% trans 'Send' %}">
					</div>
			</form>

    </div>
{% endblock %}
